td {
  padding: 1px 10px !important;
}
tr.mat-row {
  height: 33px;
}
#header_info {
  position: relative;
}
.settings-container {
  position: absolute;
  top: 0;
  right: 10px;
}
.edit-container {
  position: absolute;
  top: -50px;
  right: 10px;
}
