.spacer {
  flex: 1 1 auto;
}
form, input {
  width:100%;
  margin-left: 10px;
  margin-right: 10px;
}
::ng-deep .mat-autocomplete-panel {
  max-height: 550px !important; 
 }
.small-options .mat-option {
  line-height: 25px;
  height: 25px;
 }